@import "tailwindcss";

@theme {
  --color-primary-400: #A78BFA;
  --color-zinc-400: #A1A1AA;
  --color-zinc-800: #27272A;
  --color-zinc-900: #18181B;
  --color-zinc-950: #0A0A0A;

  --font-sans: "Gmarket Sans TTF", system-ui, sans-serif;
  --font-serif: "Pretendard", serif;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  background: #0e0e13;
  color: white;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* 텍스트 줄바꿈 방지 및 스크롤바 숨김 유틸리티 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
